@model MvcLibrary.Models.Entity.Tbl_Member
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Üye Kayıt Ol</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>Kütüphane Sistemimize Dahil Olun</h1>
                    <p>
                        Asp.Net MVC5 ile hazırlanan projemizin kayıt ol sayfasındasınız :) 
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/ShowCase/Index/">Vitrin`e Geri Dön</a></li>
                            <li><a class="read" href="/Login/SignOn/">Giriş Yap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> Son 1 Adım Kaldı</h2>
                    <div class="register-form">
                        <form method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="FirstName" required="">
                                    <label>İsim</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="LastName" required="">
                                    <label>Soyisim</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="email" name="Email" required="">
                                    <label>Eposta</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="Password" required="">
                                    <label>Şifre</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="tel" name="PhoneNumber" required="">
                                    <label>Telefon Numarası</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="School" required="">
                                    <label>Okul</label>
                                    <span></span>
                                </div>
                              
                                <div class="clear"> </div>

                            </div>
                            <input type="submit" value="Kayıt Ol">
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>
