@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/web2/css/style.css" rel="stylesheet" />
<link href="~/web2/css/jqvmap.css" rel="stylesheet" />
<script src="~/web2/js/Chart1.js"></script>
<script src="~/web2/js/jquery.min.js"></script>
<script src="~/web2/js/jquery.vmap.js"></script>
<script src="~/web2/js/jquery.vmap.sampledata.js"></script>
<script src="~/web2/js/jquery.vmap.world.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#333333',
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial'
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close').on('click', function (c) {
            $('.calender-left').fadeOut('slow', function (c) {
                $('.calender-left').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close1').on('click', function (c) {
            $('.calender-right').fadeOut('slow', function (c) {
                $('.calender-right').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close2').on('click', function (c) {
            $('.graph').fadeOut('slow', function (c) {
                $('.graph').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close3').on('click', function (c) {
            $('.site-report').fadeOut('slow', function (c) {
                $('.site-report').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close4').on('click', function (c) {
            $('.total-sale').fadeOut('slow', function (c) {
                $('.total-sale').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close5').on('click', function (c) {
            $('.to-do').fadeOut('slow', function (c) {
                $('.to-do').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close7').on('click', function (c) {
            $('.user-trends').fadeOut('slow', function (c) {
                $('.user-trends').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.alert-close6').on('click', function (c) {
            $('.world-map').fadeOut('slow', function (c) {
                $('.world-map').remove();
            });
        });
    });
</script>



<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TotalMoney</h3>
            <p>Cezalar</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TotalMember</h3>
            <p>Üye Sayımız</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TotalBook</h3>
            <p>Toplam Kitap Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TotalDisableBook</h3>
            <p>Emanet Kitap</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="total-sales">
    <div class="user-trends">
        <div class="alert-close7"> </div>

        <canvas id="bar" height="340" width="780"></canvas>
        <script>

            var barChartData = {
                labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz"],
                datasets: [
                    {
                        fillColor: "rgba(255, 137, 167, 0.78)",
                        strokeColor: "rgba(220,220,220,1)",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(140, 145, 255, 0.69)",
                        strokeColor: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]

            }

            var myLine = new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

        </script>
    </div>
    <div class="to-do">
        <div class="alert-close5"> </div>
        <h3>Yapılıcaklar Listesi</h3>
        <div class="checkbox-form">
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Yeni gelenler sisteme eklenmeli.</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Kitap okuma günü için hazırlık.</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sabah toplantısını ayarla.</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Üyeler için login tarafı ayarları.</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Vitrin için yeni tema giydirilmeli.</label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="total-world">
    <div class="world-map">
        <div class="alert-close6"> </div>
        <h3>Dünya Haritası</h3>
        <p><span class="color1"></span>40%<span class="color2"></span>12%<span class="color3"></span>11%<span class="color4"></span>10%<span class="color5"></span>18%</p>
        <div class="clearfix"></div>
        <div id="vmap" style="width: 600px; height: 400px;"></div>
    </div>
    <div class="site-report">
        <div class="alert-close3"> </div>
        <h3>Sistem Raporları</h3>
        <div class="skills-top">
            <h5>Geri Bildirim</h5>
            <h4>45%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill" style="width:45%"></div>
            </div>
        </div>
        <div class="skills-top">
            <h5>Aktiflik</h5>
            <h4>68%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill1" style="width:68%"></div>
            </div>
        </div>
        <div class="skills-top">
            <h5>Üyelerin Katılım Oranı</h5>
            <h4>89%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill2" style="width:89%"></div>
            </div>
        </div>
        <p>Kütüphane yönetim sisteminin admin panelindesiniz,projenin bu kısmında çeşitli dinamik ve statik istatistikleri görüntüliyebilirsiniz..</p>
    </div>
    <div class="clearfix"></div>
</div>

